:root {
	--background-color: #CED5E0;
	--primary-color: #4CDBC4;
	--secondary-color: #54C0EB;
	--text-color: #324A5E;
	--miscelaneous-color: #FFFFFF;
	--danger-color: #E74C3C;
	--success-color: #2ECC71;
	--warning-color: #F1C40F;
	--info-color: #3498DB;
}